{% extends "base.html" %}

{% block content %}
    <h1>
      Dish Type List <a href="#" class="btn btn-primary link-to-page">Create</a>
    </h1>

    {% if dish_type_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    {% for dish_type in dish_type_list %}
      <tr>
        <td>{{ dish_type.id}}</td>
        <td><a href="{% url 'kitchen:dish-type-detail' pk=dish_type.id %}">{{ dish_type.name }}</a></td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no dish types in the gastronomic hub.</p>
    {% endif %}
{% endblock %}