{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container mt-5">
    <h1 class="text-center mb-4">
      Dish Type List
    </h1>

    <form method="get" action="" class="form-inline">
      <div class="input-group mb-3">
        {{ search_form|crispy }}
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-secondary" type="button">🔍 Search</button>
        </div>
      </div>
      <a href="{% url 'kitchen:dish-type-create' %}" class="btn btn-primary ml-auto">🥗 Create new type dish 🍝</a>
    </form>

    {% if dish_type_list %}
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for dish_type in dish_type_list %}
            <tr>
              <td>{{ dish_type.id }}</td>
              <td><a href="{% url 'kitchen:dish-type-detail' pk=dish_type.id %}">{{ dish_type.name }}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>There are no dish types in the gastronomic hub.</p>
    {% endif %}
  </div>
{% endblock %}
